<div class="app-layout">
  <app-sidebar></app-sidebar>

  <div class="content-area">
    <main class="categories-container">
      <div class="dashboard-container">
        <h2 class="dashboard-title">Dashboard {{rol}}</h2>

        <div class="metrics-grid">

          <div class="metric-card" *ngIf="hasRole(ROLES.ESTUDIANTE)">
            <div class="metric-header">
              Eventos inscritos <i class="material-icons">calendar_today</i>
            </div>
            <div class="metric-body">
              <span class="metric-value">{{ totalEventsRegistered }}</span>
              <span class="metric-change positive">{{ totalEventsRegisteredChange }}</span>
            </div>
          </div>


          <div class="metric-card" *ngIf="hasRole(ROLES.ESTUDIANTE)">
            <div class="metric-header">
              Proximos Eventos <i class="material-icons">calendar_today</i>
            </div>
            <div class="metric-body">
              <span class="metric-value">{{ totalUpcomingEvents }}</span>
              <span class="metric-change positive">{{ totalUpcomingEventsChange }}</span>
            </div>
          </div>

          <div class="metric-card" *ngIf="hasRole(ROLES.ESTUDIANTE)">
            <div class="metric-header">
              Eventos asistidos <i class="material-icons">calendar_today</i>
            </div>
            <div class="metric-body">
              <span class="metric-value">{{ totalEventsAttended }}</span>
              <span class="metric-change positive">{{ totalEventsAttendedChange }}</span>
            </div>
          </div>

          <div class="metric-card" *ngIf="hasRole(ROLES.ADMINISTRADOR) || hasRole(ROLES.ORGANIZADOR)">
            <div class="metric-header">
              Total Eventos <i class="material-icons">calendar_today</i>
            </div>
            <div class="metric-body">
              <span class="metric-value">{{ totalEvents }}</span>
              <span class="metric-change positive">{{ totalEventsChange }}</span>
            </div>
          </div>

          <div class="metric-card" *ngIf="hasRole(ROLES.ADMINISTRADOR)">
            <div class="metric-header">
              Usuarios Activos <i class="material-icons">group</i>
            </div>
            <div class="metric-body">
              <span class="metric-value">{{ activeUsers }}</span>
              <span class="metric-change positive">{{ activeUsersChange }}</span>
            </div>
          </div>

          <div class="metric-card" *ngIf="hasRole(ROLES.ADMINISTRADOR)">
            <div class="metric-header">
              Inscripciones <i class="material-icons">trending_up</i>
            </div>
            <div class="metric-body">
              <span class="metric-value">{{ registrations }}</span>
              <span class="metric-change positive">{{ registrationsChange }}</span>
            </div>
          </div>

          <div class="metric-card" *ngIf="hasRole(ROLES.ADMINISTRADOR)">
            <div class="metric-header">
              Tasa Asistencia <i class="material-icons">schedule</i>
            </div>
            <div class="metric-body">
              <span class="metric-value">{{ attendanceRate }}</span>
              <span class="metric-change positive">{{ attendanceRateChange }}</span>
            </div>
          </div>
        </div>

        <div class="bottom-section-grid">
          <div class="panel">
            <h3 class="panel-title">Eventos Recientes</h3>
            <p class="panel-subtitle">Últimos eventos creados</p>

            <div *ngFor="let event of recentEvents" class="event-item">
              <div class="event-details">
                </div>
              </div>
          </div>

          <div class="panel quick-actions-panel" *ngIf="hasRole(ROLES.ADMINISTRADOR) || hasRole(ROLES.ORGANIZADOR)">
            <h3 class="panel-title">Acciones Rápidas</h3>
            <p class="panel-subtitle">Gestión del sistema</p>

            <button class="action-button primary" routerLink="/eventos-admin">
              <i class="material-icons">event</i> Gestionar Eventos
            </button>

            <button class="action-button secondary" *ngIf="hasRole(ROLES.ADMINISTRADOR)" routerLink="/usuarios">
              <i class="material-icons">people_alt</i> Gestionar Usuarios
            </button>

            <button class="action-button secondary" *ngIf="hasRole(ROLES.ADMINISTRADOR)" routerLink="/reportes">
              <i class="material-icons">description</i> Ver Reportes
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
