.wrapper {
  width: 100%;

}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin: 0.5rem;
  font-family: Arial, sans-serif;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-box {
  width: 35px;
  height: 35px;
  background-color: #0d47a1; /* Azul fuerte */
  border-radius: 5px;
}

.logo-text {
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

.btn-outline {
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.btn-blue {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.btn-blue:hover {
  background-color: #0069d9;
}

.btn-outline:hover {
  background-color: #f5f5f5;
}
