<app-navbar></app-navbar>
<div class="wrapper">
  <div class="section-registro">
    <div class="header-registro">
    </div>
    <div class="body-registro">
      <!-- Aquí va a ir el slider de imágenes -->
      <section class="slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <!-- Aquí van a ir los radio buttons para elegir el rol de usuario a registrar -->
      <!--   -->
      <section class="rol-user">
        <div class="container">
          <div class="row mt-5" style="text-align: center;">

            <section class="forms-registro">
              <section class="registro-estudiantes">
                <app-registro-estudiante [rol]="tipo_user" [datos_user]="user"></app-registro-estudiante>
              </section>
            </section>
          </div>
        </div>
      </section>
      <p class="helper">
        ¿Ya tienes cuenta?
        <button type="button" class="link" (click)="goLogin()">Inicia sesión</button>
      </p>
      >
    </div>
  </div>
</div>

<app-footer></app-footer>
